#header, #footer
	padding 1em 0

#principal
	padding 2em 0
	
.margen-top-uno
	margin-top 1em

.margen-bottom-uno
	margin-bottom 1em
	
.margen-top-dos
	margin-top 2em

.relleno-bottom-medio
	padding-bottom 0.5em
	
.borde-bottom
	border-bottom 1px solid #E8E8E8
	
.fb-comments
	width 100%